@import './default';

@media screen and (min-width: mobile_width) {
  .note-cnt, .home-cnt {
    max-width: max_width;
    margin: 0 auto 40px;
    padding: 0 20px;
  }
}

@media screen and (max-width: mobile_width) {
  .note-cnt, .home-cnt {
    padding: 0 12px;
    margin: 0 auto 40px;
  }
}

.note-box {
  background-color: #fefefe;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.note-each {
  cursor: pointer;
  padding: 1.5% 2.5%;
  border-bottom: 1px solid #efefee;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;

  .click-view {
    width: 100%;
    // background-color: red;
  }

  .btn-view {
    // width: 8%;
    // background-color: blue;
  }

  &:hover {
    box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.1);

    .note-title .title {
      color: theme_color;
    }
  }
}

.note-layout {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}

.note-title {
  display: flex;
  display: -webkit-flex;
  align-items: center;

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: default_black;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.5rem;
  }
}

.note-content {
  font-size: 0.875rem;
  color: #6f6f6f;
  margin-top: 3px;
  word-wrap: break-word;
  word-break: break-all;
}

.note-time {
  font-size: 0.875rem;
  color: #909399;
  margin-top: 2px;
}

.note-head-small {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  .el-input {
    width: 75%;
  }
}

// 新的过滤头部样式
.note-option-cnt {
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  default_radius();

  .note-option-title {
    font-size: 1.25rem;
    // color: #909399;
    color: theme_color;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .note-option-input .note-input {
    width: calc(100% - 3.5rem);
  }

  .note-option-select .note-input {
    width: calc(100% - 2.5rem);
  }
}

@media screen and (min-width: mobile_width) {
  .note-option-filter {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;

    .note-option-input {
      width: 70%;
    }

    .note-option-select {
      width: 28%;
    }
  }
}

// 小屏
@media screen and (max-width: mobile_width) {
  .note-option-cnt {
    .note-option-filter {
      .note-option-input {
        margin-bottom: 10px;
      }

      .note-option-input .note-input, .note-option-select .note-input {
        width: calc(100% - 4rem);
      }
    }
  }
}

/* ----------------     首页样式    ---------------- */
.home-note-box {
  .home-filter-box {
    text-align: right;
    padding: 10px 2.5% 8px;
    border-bottom: 1px solid #efefee;

    .el-input, .el-select {
      width: 180px;
    }

    span {
      noselect();
    }
  }
}

/* ---------------- Note-box组件样式 ---------------- */
.note-box-vue {
  cursor: pointer;
  margin-bottom: 20px;
  padding: 20px 28px;
  background-color: #fff;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.08);
  default_radius();

  &:hover {
    box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.1);

    .note-title-vue .title {
      color: theme_color;
    }
  }

  .note-title-vue {
    display: flex;
    display: -webkit-flex;
    align-items: center;

    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: default_black;
      // font-size: 1.5rem;
      // font-weight: bold;
      // margin-left: 0.5rem;
      font-size: 1.625rem;
      // color: #262626;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
  }

  .note-content-vue {
    font-size: 0.875rem;
    color: #333;
    color: #606266;
    line-height: 1.5;
    word-wrap: break-word;
    word-break: break-all;
    margin: 10px 0;
    min-height: 2.5rem;
  }

  .note-time-vue {
    font-size: 0.875rem;
    color: #aeaeae;
    // margin-top: 4px;
  }
}

/* ---------------- Note-box 2 组件样式 ---------------- */
.note-box-vue2 {
  // 和note-box-vue用一样的样式，加上一个按钮
  position: relative;
  overflow: hidden;

  @keyframes btnshow {
    from {
      transform: translateX(150px);
    }

    to {
      visibility: visible;
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes btnhide {
    to {
      opacity: 0;
      transform: translateX(150px);
    }
  }

  .note-title-vue {
    .title {
      margin-left: 0.2rem;
    }
  }

  .note-btn-cnt {
    position: absolute;
    width: 150px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    top: 0;
    right: 0;

    .note-btn-box {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;

      .el-button {
        width: 80px;
      }
    }
  }

  .note-btn-show {
    animation: btnshow 0.5s forwards;
  }

  .note-btn-hide {
    animation: btnhide 0.5s forwards;
  }

  .note-btn-null {
    visibility: hidden;
  }

  // 选项触发器
  .note-btn-trigger {
    position: absolute;
    top: 20px;
    right: 28px;
  }

  // 私密标识
  .note-self-cnt {
    position: absolute;
    bottom: -18px;
    right: -18px;
    padding: 5px;
    border-radius: 50%;
    border: 3px solid theme_color_a(0.4);

    .note-self-box {
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      text-align: center;
      color: theme_color_a(0.7);
      border: 1.5px solid theme_color_a(0.4);
      transform: rotate(-45deg);
    }
  }
}

@media screen and (max-width: mobile_width) {
  .note-box-vue {
    padding: 12px 20px;

    .note-title-vue .title {
      font-size: 1.25rem;
    }

    .note-content-vue {
      margin: 5px 0;
    }
  }

  .note-box-vue2 {
    .note-btn-trigger {
      top: 10px;
      right: 15px;
    }

    .note-self-cnt {
      position: absolute;
      bottom: -13px;
      right: -13px;
      padding: 4px;
      border: 3px solid theme_color_a(0.2);

      .note-self-box {
        width: 36px;
        height: 36px;
        line-height: 36px;
        color: theme_color_a(0.6);
        border: 1.5px solid theme_color_a(0.4);
        font-size: 0.875rem;
      }
    }
  }
}
