@import './default';

@media screen and (min-width: mobile_width) {
  .note-cnt, .home-cnt {
    // position: absolute;
    width: 75%;
    margin: 0 auto 40px;
  }
}

@media screen and (max-width: mobile_width) {
  .note-cnt, .home-cnt {
    padding: 0 20px;
    margin: 0 auto 40px;
  }
}

.book-head {
  // margin-bottom: 20px;
  // display: inline-block;
  line-height: 28px;
  font-size: 1.1rem;
  color: #909399;
  font-weight: bold;
}

.note-box {
  background-color: #fefefe;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;

  .note-head {
    height: 28px;
    padding: 10px 2.5% 8px;
    border-bottom: 1px solid #efefee;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
  }

  .filter-box {
    .el-input, .el-select {
      width: 170px;
    }

    span {
      noselect();
    }
  }
}

.note-each {
  cursor: pointer;
  padding: 1.5% 2.5%;
  border-bottom: 1px solid #efefee;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;

  .click-view {
    width: 100%;
    // background-color: red;
  }

  .btn-view {
    // width: 8%;
    // background-color: blue;
  }

  &:hover {
    box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.1);

    .note-title .title {
      color: theme_color;
    }
  }
}

.note-layout {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}

.note-title {
  display: flex;
  display: -webkit-flex;
  align-items: center;

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: default_black;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.5rem;
  }
}

.note-content {
  font-size: 0.875rem;
  color: #6f6f6f;
  margin-top: 3px;
  word-wrap: break-word;
  word-break: break-all;
}

.note-time {
  font-size: 0.875rem;
  color: #909399;
  margin-top: 2px;
}

.note-head-small {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  .el-input {
    width: 75%;
  }
}

/* ----------------     首页样式    ---------------- */
.home-note-box {
  background-color: #fefefe;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;

  .home-filter-box {
    text-align: right;
    padding: 10px 2.5% 8px;
    border-bottom: 1px solid #efefee;

    .el-input, .el-select {
      width: 180px;
    }

    span {
      noselect();
    }
  }
}

.home-note-each {
  cursor: pointer;
  padding: 1.5% 2.5%;
  border-bottom: 1px solid #efefee;

  &:hover {
    box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.1);

    .home-note-title .title {
      color: theme_color;
    }
  }

  .home-note-title {
    display: flex;
    display: -webkit-flex;
    align-items: center;

    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: default_black;
      font-size: 1rem;
      font-weight: bold;
      margin-left: 0.5rem;
    }
  }

  .home-note-content {
    font-size: 0.875rem;
    color: #6f6f6f;
    margin-top: 3px;
    word-wrap: break-word;
    word-break: break-all;
  }

  .home-note-time {
    font-size: 0.875rem;
    color: #909399;
    // margin-top: 4px;
  }
}
