@import './default';

// 0 < s < width
@media screen and (max-width: mobile_width) {
  .editor-cnt {
    width: 100%;
  }

  .editor-head {
    margin: 0 15px 10px;

    .editor-title {
      margin-bottom: 10px;
    }

    .editor-select {
      width: 75%;
      display: inline-block;
    }

    .editor-option {
      display: inline;
    }
  }
}

// width < s < ~
@media screen and (min-width: mobile_width) {
  .editor-cnt {
    max-width: max_width + 100px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .editor-head {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .editor-title {
      width: 55%;
    }

    .editor-select {
      width: 30%;
    }
  }
}

.editor-cnt {
  margin: 0 auto;

  .editor-head {
    span {
      font-size: 1.125rem;
      color: default_black;
    }

    .title-input {
      width: calc(100% - 3.375rem);
    }
  }

  .btn-box {
    max-width: 400px;
    min-width: 250px;
    margin: 20px auto;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;

    .el-button {
      width: 180px;
    }
  }

  .btn-box-small {
    width: 75%;
    margin: 10px auto 20px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;

    .el-button {
      width: 45%;
    }
  }
}

.progress-cnt {
  padding-left: 15px;
  margin-top: 5px;
}
