// 存放其他页面的样式
@import './default';

/* ------------- 个人信息页面 ------------- */
.setting-cnt {
  max-width: 600px;
  margin: 0 auto 40px;
  padding: 0 15px;

  .setting-box {
    padding: 20px 30px;
    background-color: #fefefe;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  .single-line {
    padding-top: 14px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dedede;
  }

  .setting-line {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
  }

  .setting-line-no {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5px;
  }

  .setting-label {
    .label-1 {
      font-size: 1rem;
      color: #909399;
    }

    .label-2 {
      color: #707377;
      font-size: 1.25rem;
      font-weight: bold;
      // text-decoration: underline;
    }
  }

  .margin-top-20 {
    margin-top: 20px;
  }

  .tips {
    text-align: right;
    font-size: 0.75rem;
    color: #aeaeae;
  }

  .setting-value {
    text-align: right;
    color: theme_color;
    font-weight: bold;
    font-size: 1.75rem;
    margin-bottom: 1px;
  }

  @keyframes pwd-show {
    from {
      visibility: visible;
      opacity: 0;
      transform: translateY(-20px);
      float: none;
    }

    to {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      float: none;
    }
  }

  @keyframes pwd-hide {
    from {
      visibility: visible;
      opacity: 1;
    }

    to {
      visibility: hidden;
      opacity: 0;
      transform: translateY(30px);
    }
  }

  .confirm-pwd {
    float: left; // 用浮动来取消隐藏元素占用父元素的高度
    width: 100%;
    visibility: hidden;
  }

  .confirm-pwd-show {
    animation: pwd-show 0.5s forwards;
  }

  .confirm-pwd-hide {
    animation: pwd-hide 0.5s forwards;
  }
}

@media screen and (max-width: mobile_width) {
  .setting-cnt {
    .setting-box {
      padding: 15px;
    }
  }
}

/* ------------- Center页面 ------------- */
.center-cnt {
  .welcome-cnt {
    text-align: center;
    font-size: 2.5rem;
    margin: 36px 0;
    color: #909399;
    word-wrap: break-word;
    word-break: break-all;

    span {
      font-weight: bold;
      color: theme_color;
    }
  }

  .router-box {
    noselect();
    cursor: pointer;
    padding: 15px 30px;
    background-color: #fefefe;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    line-height: 42px;
    font-size: 1.1rem;
    color: default_black;
    transition(0.12s);
    border-radius(6px);
    position: relative;

    &:hover {
      font-size: 1.25rem;
      font-weight: bold;
      color: theme_color;
      box-shadow: 0 2px 12px 1px rgba(0, 0, 0, 0.1);

      .hover-arrow {
        visibility: visible;
      }
    }

    &:active {
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1) inset;
    }
  }

  .fix-box {
    height: 0px;
    width: 24%;
    padding: 0 30px;
  }

  .hover-arrow {
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
  }
}

// 1 < this
@media screen and (min-width: mobile_width) {
  .center-cnt {
    max-width: max_width;
    // width: 75%;
    margin: 0 auto;
    padding: 0 25px;

    .router-cnt {
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .router-box {
      width: 24%;
    }
  }
}

// this < 1
@media screen and (max-width: mobile_width) {
  .center-cnt {
    // width: 90%;
    padding: 0 25px;

    .router-box {
      padding: 10px 40px;
      margin-bottom: 15px;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
      line-height: 36px;
      font-size: 1rem;
      color: default_black;
      transition(0.12s);
      border-radius(6px);

      // border: 1px solid #eee;
      &:hover {
        font-size: 1rem;
        font-weight: normal;
        box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

/* ------------- Error页面 ------------- */
.error-cnt {
  margin: 66px 0;
  text-align: center;
  color: #909399;
  noselect();

  .layout {
    margin-top: 50px;
  }

  .back-link {
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
    padding: 0.8em 2em;
    letter-spacing: 1px;
    display: inline-block;
    background: theme_color;
    transition(0.5s);
    border-radius(30px);
    -webkit-box-shadow: -1px 10px 18px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 10px 18px -6px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 10px 18px -6px rgba(0, 0, 0, 0.75);

    &:hover {
      background: #909399; // #e3aa01;
    }
  }

  h1 {
    // color: #6a67ce;
    letter-spacing: 0px;
    text-transform: uppercase;
  }

  h2 {
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.8);
    color: #909399;
  }

  span {
    // font-weight: 700;
    color: theme_color;
  }

  h3 {
    text-transform: capitalize;
    font-weight: 500;
    color: #909399;
  }
}

@media screen and (max-width: mobile_width) {
  .error-cnt {
    h2 {
      font-size: 6rem;
    }

    h3 {
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: mobile_width) {
  .error-cnt {
    h1 {
      font-size: 45px;
    }

    h2 {
      font-size: 8rem;
    }

    h3 {
      font-size: 50px;
    }
  }
}

/* ------------- NullView页面 ------------- */
.null-box {
  // background-color: #fefefe;
  text-align: center;
  padding: 120px 0;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  default_radius();

  .null-head {
    // font-size: 45px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.32);
    // color: #6a67ce;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    color: #909399;
  }

  .go-link {
    noselect();
    margin-top: 50px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    padding: 14px 30px;
    // letter-spacing: 1px;
    display: inline-block;
    // border-top: 2px solid #FFF;
    background: theme_color_a(0.8);
    transition(0.5s);
    border-radius(30px);
    -webkit-box-shadow: -1px 5px 18px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 5px 18px -6px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 5px 18px -6px rgba(0, 0, 0, 0.75);

    &:hover {
      background: #909399; // #e3aa01;
    }
  }
}

@media screen and (max-width: mobile_width) {
  .null-head {
    font-size: 2rem;
  }
}

@media screen and (min-width: mobile_width) {
  .null-head {
    font-size: 45px;
  }
}

/* ------------- 登录 页面 ------------- */
.login-cnt {
  // width: 40%;
  max-width: 350px;
  min-width: 200px;
  margin: 80px auto;
  padding: 40px 32px;
  background-color: #fefefe;
  border-radius(10px);
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);

  .slogan {
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: default_black;
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.5);

    .login {
      color: theme_color;
    }
  }

  .a-link {
    font-size: 0.95rem;
    color: theme_color;
    text-align: right;
    margin-top: 8px;
    noselect();

    span {
      cursor: pointer;
    }

    span:hover {
      text-decoration: underline;
    }
  }

  .reg-link {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
  }

  .btn {
    margin-top: 20px;
    text-align: center;

    .el-button {
      width: 200px;
    }
  }

  .rand-img-line {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;

    .img-cnt {
      height: 36px;
      border: 1px solid #DCDFE6;
      padding: 1px;
    }
  }
}

@media screen and (max-width: mobile_width) {
  .login-cnt {
    background-color: transparent;
    box-shadow: none;
  }
}
